.button{
    background-color: fuchsia;
    float: left;
}

.boxes{
    background-color:fuchsia;
    border:solid skyblue 3px;
    float:left;
    height: 3em;
    width:3em; 
    padding:2em;
    margin:1em;
    color: transparent;
    
    
}




boxDiv.addEventListener('dblclick', function(){
    if (boxDiv.id % 2 === 0){
        alert("youre doing something right")
    }
    })


    boxDiv.addEventListener('dblclick', function(){
        if (boxDiv.id% 2 ==1){
            alert("youre doing something right")
        }
    })
   